li.tab {
    display: inline-block;
    margin-right: 5px;
}

a.tab-link.custom-link {
    background: white;
    color: #2C3539;
    width: 120px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

a.tab-link.custom-link.active {
    border-bottom: 3px solid #3EA055;
}
